.background-container{
  background-image: url("https://res.cloudinary.com/dz77p3lhg/image/upload/v1666956624/pexels-dids-1707580_b0noiu.jpg");
  background-size: cover;
  height: 100vh;
}

.h-center{
  text-align: center;
  font-family: Roboto;
}

.card-container{
  padding: 10px;
}

#navItem1{
  color: white;
}

#navItem2{
  color: white;
}

#navItem3{
  color: white;
}

#navItem4{
  color: white;
}

#navItem5{
  color: white;
}
