body{
  background-color: #B7CADB;
}

img{
  height: 40px;
  width: 40px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

marquee{
  color: red;
}

marquee:hover{
  cursor: pointer;
  color: yellow;
}

h3
{
  color: red;
}

h2
{
  color: red;
}

#heading
{
  color: black;
}

a:hover{
  color: black;
  cursor: pointer;
}

.yearbtn{
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  width: 10em;
  height: 5ex;
}

.acolor
{
  color: white;
}
